/* CSS */


body {
    display: flex;
    background-color: white;

}


article.foto-overzicht {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 250px;
    width: 120px;
    border-radius: 2rem;
    border-color: black;
}

.zoekbalk {
    border: 2px;
    border-color: black;
    justify-content: right;
    

}

.foto-overzicht {
  flex-direction: column;
  
}